services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./Server/Docker/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build: ./Server/Docker
    container_name: ProjectV
    restart: always
    volumes:
      - .:/var/www
    depends_on:
      - database
      - redis
  # user: "${UID:-1000}:${GID:-1000}"  # uncomment if needed for permissions

  database:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - ./Server/Database:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6380:6379"