.login-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login {
    width: 100%;
    max-width: 450px;
    margin: auto;
    .signin-form {
      width: 100%;
    }
    .register-form {
      width: 100%;
    }
  }
}